debugpy==1.6.6
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.6
duckdb==0.7.1
executing==1.2.0
fastjsonschema==2.16.3
Flask==2.2.3
gitdb==4.0.10
GitPython==3.1.31
gunicorn==20.1.0
idna==3.4
ipykernel==6.21.3
ipython==8.11.0
ipython-genutils==0.2.0
Jinja2==3.1.2
json5==0.9.11
jsonpointer==2.3
jsonschema==4.17.3
Levenshtein==0.20.9
matplotlib==3.7.1
matplotlib-inline==0.1.6
pandas==1.5.3
plotly==5.13.1
requests==2.28.2
sqlite3==3.38.2
wikipedia==1.4.0

