{% extends "layout.html" %}

{% block title %}
    Itineraries search result
{% endblock %}

{% block head %}
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.5.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.5.1/mapbox-gl.css' rel='stylesheet' />
    <style>
        #map {
            height: 500px;
            width: 100%;
        }
    </style>
{% endblock %}

{% block main %}
<form action="/itinerary" method="post">
    <div class="mb-3">
        <select name="city" id="city">
            <option value="" disabled selected>Select a city</option>
            {% for city in cities %}
            <option value="{{ city }}">{{ city }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-3">
        <select name="itinerary_type" id="itinerary_type">
            <option value="" disabled selected>Select an itinerary</option>
            {% for itinerary_aliases in itinerary_aliases %}
            <option value="{{ itinerary_aliases }}">{{ itinerary_aliases }}</option>
            {% endfor %}
        </select>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
<br>
<div id="map" style="height: 500px; width: 800px; margin: auto;"></div>
<script>
    var data = {{ data|tojson|safe }};
    var city = "{{ city }}";

    // Create the map and set the view to the center of the city
    var map = L.map('map').setView([data.region.center.latitude, data.region.center.longitude], 11);

    // Add the base map layer
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
        maxZoom: 18
    }).addTo(map);

    // Loop through the search results and add a marker for each business
    for (var i = 0; i < data.businesses.length; i++) {
        var business = data.businesses[i];
        var marker = L.marker([business.coordinates.latitude, business.coordinates.longitude]).addTo(map);
        var popup = "<b>" + business.name + "</b><br>" + business.location.address1 + "<br>" + business.location.city + ", " + business.location.state + " " + business.location.zip_code;
        marker.bindPopup(popup);
    }

    // Add a marker for the center of the city
    var cityMarker = L.marker([data.region.center.latitude, data.region.center.longitude]).addTo(map);
    cityMarker.bindPopup("<b>" + city + "</b>");
</script>

{% endblock %}
